---
---
@import "{{ site.theme }}";

/* Banner background */
#banner {
  background-color: #B22222; /* liturgical red */
  border-color: darken(#B22222, 10%);
}

header {
  background-color: url(../images/body-background.png) #eae6d1;
}

header h1, header h2, header h3 {
  color: #333;
}