---
---
@import "{{ site.theme }}";

/* Banner background */
#banner {
  background-color: #B22222; /* liturgical red */
  border-color: darken(#B22222, 10%);
}

header {
  background: #fbfbfb;  
}

header h1, header h2, header h3, header p {
  color: #333;
  text-shadow: none;
}

nav {
  width: 290px;
  margin-left: -620px;
  max-height: 72%;
  overflow: auto;
  scrollbar-width: none;
}

section {
  padding-left: 6px;
  padding-right: 6px;
}