---
---
@import "{{ site.theme }}";

/* Banner background */
#banner {
  background-color: #B22222; /* liturgical red */
  border-color: darken(#B22222, 10%);
}

header {
  background: #fbfbfb;  
}

header h1, header h2, header h3, header p {
  color: #333;
  text-shadow: none;
}